div#onboardingContainer {
	all: revert;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 10000;
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	color: black;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	height: fit-content;
}

div#onboardingContainer {
	* {
		all: revert;
	}

	#onboarding-checklist {
	}
	#onboarding-checklist h2 {
		margin-top: 0;
		cursor: move;
	}
	#onboarding-checklist ul {
		list-style-type: none;
		padding: 0;
	}
	#onboarding-checklist li {
		margin: 10px 0;
	}
	#onboarding-checklist input[type="checkbox"].item {
		width: 20px;
		height: 20px;
		margin-right: 10px;
		accent-color: #007bff; /* Change the color of the checkbox */
	}
}
